/*
 f(0.5) = 0, f(0.25) = -25, f(0.75) = 25

 f(0.5) = 0% + 40px * (0.5 - 0.5)
        = 0% + 40px * 0 
        = 0
 */

.brow-happy {
	display: flex;
	width: 40%;
	height: 100%;
	border: 0.125vw solid #000;
	border-color: #000 transparent transparent transparent;
	border-radius: 50%/4.5vw 4.5vw 0 0;
	transform: translate(calc(var(--width) * 0.125 * (var(--x))), calc(var(--width) * 0.15 * (var(--y))));
	transition: border-radius 0.5s ease-in-out;
}

.brow-left-surprised {
	display: flex;
	width: 40%;
	height: 100%;
	border: 0.125vw solid #000;
	border-color: #000 transparent transparent transparent;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	transform: translate(calc(var(--width) * 0.125 * (var(--x))), calc(var(--width) * 0.15 * (var(--y)) - 75%));
	transition: border-radius 0.5s ease-in-out;
}

.brow-right-surprised {
	display: flex;
	width: 40%;
	height: 100%;
	border: 0.125vw solid #000;
	border-color: #000 transparent transparent transparent;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	transform: translate(calc(var(--width) * 0.125 * (var(--x))), calc(var(--width) * 0.15 * (var(--y)) - 75%));
	transition: border-radius 0.5s ease-in-out;
}

.eye-happy {
	display: flex;
	width: 40%;
	height: 80%;
	border: 0.1vw solid #000;
	align-items: center;
	justify-content: center;
	background-color: azure;
	border-radius: 20%;
	transform: translate(calc(var(--width) * 0.15 * (var(--x))), calc(var(--width) * 0.2 * (var(--y))));
	transition: border-radius 0.5s ease-in-out;
}

.eye-surprised {
	display: flex;
	width: 40%;
	height: 80%;
	border: 0.1vw solid #000;
	align-items: center;
	justify-content: center;
	background-color: azure;
	border-radius: 50%;
	transform: translate(calc(var(--width) * 0.15 * (var(--x))), calc(var(--width) * 0.2 * (var(--y))));
	transition: border-radius 0.5s ease-in-out;
}
/* position of container --positionX --positionY 
var(--x) is mouse position
var(--x) - 0,5 sets x at the middle of the screen to 0
*/

/* transform - widthOfFaceContainer * widthOfSubContainer% * widthOfSubSubContainer% 
	- 2 * (widthOfFaceContainer * widthOfSubContainer% * widthOfSubSubContainer% * widthOfTracker%) */
/* 16vh - */
.tracker {
	width: 15%;
	height: 15%;
	border-radius: 40%;
	background-color: black;
	transform: translate(
		calc(calc(calc(var(--width) * 1 * 0.4) - calc(var(--width) * 1 * 0.4 * 0.15) * 3) * var(--x)),
		calc(calc(calc(var(--width) * 0.5 * 0.8) - calc(var(--width) * 0.5 * 0.8 * 0.15 * 2)) * var(--y))
	);
}

.mouth-area {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.mouth-area .happy {
	display: flex;
	width: 100%;
	height: 100%;
	border: 0.1vw solid #000;
	border-color: transparent transparent #000 transparent;
	border-radius: 0 0 17.5vw 40%/7.5vw;
	transform: translate(calc(var(--width) * 0.05 * (var(--x))), calc(var(--width) * 0.1 * (var(--y))));
	transition: border-radius 0.5s ease-in-out;
}

.mouth-area .surprised {
	display: flex;
	width: 20%;
	height: 75%;
	opacity: 100%;
	background-color: #ffe6ee6d;
	border: 0.1vw solid #000;
	border-color: #000;
	border-radius: 100%;
	transform: translate(calc(var(--width) * 0.25 * (var(--x))), calc(var(--width) * 0.1 * (var(--y))));
	transition: border-radius 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

@media screen and (max-width: 480px) {
	.eye-happy {
		/* background-color: lightgreen; */
		transition: transform 350ms ease;
	}

	.eye-surprised {
		transition: transform 350ms ease;
	}
	.eyebrow-happy {
		transition: transform 350ms ease;
	}
	.eyebrow-left-surprised {
		transition: transform 350ms ease;
	}
	.eyebrow-right-surprised {
		transition: transform 350ms ease;
	}

	.tracker {
		transition: transform 300ms ease;
	}
	.mouth-area .happy {
		transition: transform 350ms ease;
	}
	.mouth-area .surprised {
		transition: transform 350ms ease;
	}
}
