.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.face  {
    display: flex;
    flex-direction: column;
}

.eyebrows {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.brow {
    display: flex;
    width:200px; height:50px;  
    border:solid 5px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/45px 45px 0 0;
    transform: translate(calc(0% + 1px * var(--x)), calc(-50% + 50px * var(--y)));
}

.eyes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

.mouth{
    display: flex;
    width:600px; height:100px;  
    border:solid 5px #000;
    border-color: transparent transparent #000 transparent;
    border-radius: 0 0 240px 40%/75px;
  }
