.tracker {
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.eye {
    width: 200px;
    height: 200px;
    transform: translate(0%, 0%);
    border: 3px solid #333;
    background-color: azure;
    border-radius: 40%;
}

.tracker_old {
    width: 10px;
    height: 10px;
    left: 5px;
    top: 5px;
    background-color: black;
    transform: translate(calc(-50% + 185px * var(--x)), calc(-50% + 185px * var(--y)));
}

.tracker {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 30px;
    border-radius: 40%;
    background-color: black;
    transform: translate(calc(-50%  + 130px * var(--x)), calc(-50% + 130px * var(--y)));
}